/* clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.title
{
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: normal;
    color: #029976;

    margin: 5px 0px 5px 0px;
}


/*
    Fonts
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf');
}

@font-face {
    font-family: 'Helvetica 7 bold';
    src: url('../fonts/helv7bold1.ttf');
}


body
{
    padding-top:50px;
    min-height: 100%;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.bold
{
    font-weight: bold;
}

.sidebar-nav
{
    padding:9px 0;
}

.row-fluid [class*="span"]
{
    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
}

.show-grid
{
    margin-top: 10px;
    margin-bottom: 20px;
}

#title div
{
    text-align: left;
    padding-left: 20px;
}

#account-balance-block
{
    font-family: 'Open Sans';
    text-align: left;
    padding-left: 10px;
}

#account-balance-block h3
{
    float: left;
    display: block;
    width: 100px;
}


#account-balance-block-list
{
    margin: 0px 5px 5px 5px;
}

#account-balance-block-list li
{
    display: block;
    margin-left: 10px;
}

/***
Dashboard stats
***/
.dashboard-stat {
    margin-bottom: 25px;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
}

.dashboard-stat:before,
.dashboard-stat:after {
    display: table;
    line-height: 0;
    content: "";
}
.dashboard-stat:after {
    clear: both;
}

.dashboard-stat .visual {
    width: 80px;
    height:80px;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.dashboard-stat .visual i {
    font-size: 65px;
    line-height: 65px;
    color: #fff;
}

.dashboard-stat .details {
    float: right;
}

.dashboard-stat .details .number {
    padding-top: 15px;
    text-align: right;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-weight: 300;
}

.dashboard-stat .details .desc {
    text-align: right;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 300;
}

.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.dashboard-stat .more:hover {
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

.dashboard-stat .more > i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}

.dashboard-stat.blue {
    background-color: #27a9e3;
}

.dashboard-stat.blue .more {
    background-color: #208dbe;
}

.dashboard-stat.green {
    background-color: #28b779;
}

.dashboard-stat.green .more {
    background-color: #10a062;
}

.dashboard-stat.red {
    background-color: #e7191b;
}

.dashboard-stat.red .more {
    background-color:#bc0d0e;
}

.dashboard-stat.yellow {
    background-color: #ffb848;
}

.dashboard-stat.yellow .more {
    background-color: #cb871b;
}

.dashboard-stat.purple {
    background-color: #852b99;
}

.dashboard-stat .details {

    float: none;
    padding-right: 10px;
}
.dashboard-stat.purple .more {
    background-color: #6e1881;
}

a.dashboard-button {

    text-decoration: none;
    /*opacity: 1;*/

}


/* My page styles */

.mypage
{
    font-family: 'Open Sans';
}

.mypage .content-block
{
    padding: 10px;
}

.wallet-item
{
    background-color: #DDDDDD;
    padding: 10px;
    margin-top: 10px;
}

.wallet-item .wallet-currency-name
{
    font-weight: bold;
    line-height: 20px;
}

.wallet-item .currency-value
{
    color:#bc0d0e;
    font-weight: bold;
}


.wallet-item .wallet-actions
{
    float: right;
}

.wallet-item .wallet-actions input
{
    width: 100px;
}

/*----------------*/
.signin-block
{
    display: none;
    height: 225px;
    width: 200px;

    background-color: #FFFFFF;
    border: 2px solid #333333;

    position: absolute;
    right: -10px;
    top: 50px;

    background-color: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;

    padding: 10px;
}

.signin-block h1
{
    font-family: 'Open Sans';
    font-size: 20px;
}

.signin-block input[type="text"]
{
    width: 90%;
}

.signin-block input[type="password"]
{
    width: 90%;
}

.signin-block input[type="submit"]
{
    width: 100px;
}

.choosedWidget
{
    background-color: #EEEEEE !important;
    border: 2px solid #333333 !important;
}

.submitValueDialog
{
    display: none;
    width: 500px;

    border: 1px solid rgb(170, 170, 170);
    background-color: #eeeeee;

}


.navbar-inverse .navbar-inner
{
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #3d3d3d, #434343);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3d3d), to(#434343));
    background-image: -webkit-linear-gradient(top, #3d3d3d, #434343);
    background-image: -o-linear-gradient(top, #3d3d3d, #434343);
    background-image: linear-gradient(to bottom, #3d3d3d, #434343);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse
{
    font-family: 'Helvetica 7 bold';
}

.greenMark
{
    color: #029976;
}

.navbar-inverse .brand
{
    color: #029976;
    font-weight: bold;
}

.navbar-inverse .nav > li > a
{
    color: #029976;
}

.nav-collapse .collapse
{
    color: #029976;
    /* b6b6b6 */
}

#accountInfo
{
    margin-left: 20px;
    margin-right: 20px;
}


.navbar-text a
{
    color: #999999;
    cursor: pointer;
}

.navbar-text a:hover
{
    color: #999999;
    text-decoration: none;
}

.container-fluid
{
    font-family: 'Helvetica';
    padding: 0;

}


#dashboard
{
    float: left;
    max-width: 70%;
    padding: 0px 110px 0px 90px;

}

#balancePanel
{
    float: right;
    width: 14.2%;

    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(left,  #f9f9f9 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f9f9f9 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f9f9f9 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f9f9f9 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to right,  #f9f9f9 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ebebeb',GradientType=1 ); /* IE6-9 */

    height: inherit;

    border-left: 1px solid #ececec;

    padding-top: 50px;
}

.wallet
{
    border-bottom: 1px solid #dbdbdb;

}

.wallet-list
{
    margin-left: 20px;
}



.top-line
{
    padding: 5px 10px 5px 90px;
}

.content
{
    height: 100%;
}

.content h3
{
    color: #029976;
}


/* widgets */
/* widget-rate */

#widgetrate
{
    font-family: 'Helvetica';
    font-weight: normal;
    width: 100%;
}

.widgetrate-item
{
    border: 1px solid #029976;
    width: 170px;
    height: 80px;

    float: left;
    margin: 8px;
}

.widgetrate-rate
{
    background-color: #FFFFFF;
    color: #626262;

    width: 170px;
    height: 45%;

    text-align: center;
    padding-top: 16px;
}

.widgetrate-value
{
    background-color: #029976;
    color: #FFFFFF;

    width: 166px;
    height: 30%;

    padding: 5px 0px 0px 5px;
}

.widgetrate-close
{
    background-image: url('../img/other/close-widget.png');
    background-repeat: no-repeat;

    height: 15px;
    width: 15px;

    float: right;
    margin: 3px 5px 0px 0px;

    cursor: pointer;
}

/* widget-glass */

#widgetglass
{
    font-family: 'Helvetica';
    font-weight: normal;
    width: 100%;

    margin-top: 20px;
}

.widgetglass-part
{
    width: 360px;
    margin-right: 10px;
}

.widgetglass-title
{
    font-size: 24px;
    margin-bottom: 5px;
}

.widgetglass-topinfo
{
    background-color: #f0f0f0;
}


.widgetglass-money
{
    width: 120px;
    margin: 15px 30px 15px 30px;
    float: left;
}

.widgetglass-money div
{
    float: left;
    margin-right: 3px;
}

.widgetglass-moneyicon
{
    margin-top: 3px;
}

.widgetglass-block
{

}

.widgetglass-deal
{
    border: 1px solid #f0f0f0;
}

#widgetglass table
{
    margin: 5px;
    font-size: 14px;
}

.widgetglass-deal td
{
}

.widgetglass-deal input[type='text']
{
    height: 35px;
}

.widgetglass-deal input[type='submit']
{
    height: 35px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #029976;
    border: none;

    color: #FFFFFF;
    font-weight: bold;
    float: right;
}

.widgetglass-list
{
    border: 1px solid #f0f0f0;
    margin: 10px 0px 10px 0px;
    padding: 20px;
}

.widgetglass-list-total
{
    border-bottom: 1px solid #f0f0f0;
    text-align: right;
}

.widgetglass-list-table
{
    width: 100%;
    font-weight: bold;
}


.widgetglass-list-table td
{
    text-align: center;
}

.widgetglass-list-table .header
{
    font-weight: normal;
}

/* widget orders (active) */

#widgetorders
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.widgetorders-list
{
    border: 1px solid #f0f0f0;
    padding: 20px;
}

.widgetorders-list table
{
    font-size: 14px;
    text-align: center;
}

.widgetorders-list table tr
{
    height: 30px;
}

.widgetorders-list table th
{
    border: none;
    font-weight: normal;
}

.widgetorders-list table td
{
    font-weight: bold;
}

.widgetorders-list img
{
    margin-right: 5px;
    margin-top: -2px;
}

/* widget trade history */

#widgettradehistory
{
    margin: 15px 0px 15px 0px;
}

#widgettradehistory table
{
    font-size: 14px;
    text-align: center;
}

#widgettradehistory table tr
{
    font-size: 14px;
    height: 40px;
}

#widgettradehistory table hr
{
    background-color: #f0f0f0;
    padding: 0px 20px 0px 20px;
}


#widgettradehistory table th
{
    border: none;
    font-weight: normal;
}

#widgettradehistory table td
{
    font-size: 14px;
    font-weight: bold;
}

.widgettradehistory-table
{
    border: 1px solid #f0f0f0;
}
